build
out
uploadtmp

*.ipr
*.iws
*.iml
*.idea
*.ids
.gradle

.DS_Store

node_modules

src/main/java/assets
src/main/resources/jasper/reports/*.jrprint
src/main/resources/jasper/reports/*.jasper
src/main/resources/jasper/reports/*.pdf
src/test/perf/reg/.idea
src/test/resources/jxls/each_if_output.xls
src/main/resources/jxls/qingdao-9th-high-school-timetable.xls
*.pyc

.vagrant
Vagrantfile

*.log
